@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

@font-face {
  font-family:BrunoAce;
  src: url(/fonts/Bruno.woff);
}


*{
  font-family: BrunoAce;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainpage{
  background-color: #0c0c1d;
  height: 100vh;
}
.navbar{
  position: relative;
  top: 0;
}